

.entry .entry-content .has-large-font-size {
    font-size: 1em; 
}

.site-title a{
   font-family:'Baskerville';
   font-size:1.5em;
}

.site-description::before{
color:black;
text-align:right;
font-family:'Baskerville';
}

figcaption{
    text-align:center;
}

