

#liste-cours {
      margin-bottom:0 ;
}

.liste-cours {
    display : grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2% 2% 0% 15%;
    font-size : 1.5em;
  
    .session-1 { background-color: red; color : white; }
    .session-2 { background-color: #7986cb; color : white;}
    .session-3 { background-color: #64b5f6; color : white;}
    .session-4 { background-color: #4dd0e1; color : white;}
    .session-5 { background-color: #4db6ac; color : white;}
    .session-6 { background-color: #81c784; color : white;}
    h3,h4 { padding:5px;}

    @include media(mobile){
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
        font-size : 1.3em;

    }

    @include media(tablet) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            font-size : 1em;
    }

    @include media(desktop) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
   
    }

    @include media(wide) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 10px;
     
        }

    .entry-title {

        h3{
            font-size: .5em;
            color:white !important;
        }
        h4{
            font-size: .4em;
            color:white;
        }
    }
}